*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F6F7F9;
    display:  grid;
    grid-template-columns: 8em 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nav header" "nav main";
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {

    grid-area: nav;
    display: block;
    text-align: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow-x: hidden;
    height: 100vh;
    & a {
    
      padding: 1em 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #010101;
      display: block;
      
    }
    & a:hover {
      color: #1eaf51;
    }
  }
  header {
    background: #ffffff;
    grid-area: header;
    height: 5em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: space-between;

    & h2 {
      margin: 1em 1.5em 1em 1.5em;
    }
  }
  main {
    grid-area: main;
  }

  
