:root {
  /* Colors */
  --primary-bg-color: #272932;
  --secondary-bg-color: #383A47;
  --primary-color: #947EB0;
  --secondary-color: #519879;
  --accent-color: #FB8B24;

  /* Font */
  --bold-font: 'HaltonBold', sans-serif;
  --semiBold-font: 'Light', sans-serif;
  --regular-font: 'HaltonRegular', sans-serif;
  --light-font: 'HaltonLight', sans-serif;
  --text-color: #ECF8F8;

  /* Margins */
  --primary-spacing: 1em;
  --secondary-spacing: 2em;
  --tertiary-spacing: 3em; 
}

/* Load in fonts */
@font-face {
  font-family: 'HaltonBold';
  src: url('/font/Halton/Halton-bold.ttf');
}

@font-face {
  font-family: 'HaltonSemiBold';
  src: url('/font/Halton/Halton-semi-bold.ttf');
}

@font-face {
  font-family: 'HaltonRegular';
  src: url('/font/Halton/Halton-regular.ttf');
}

@font-face {
  font-family: 'HaltonLight';
  src: url('/font/Halton/Halton-light.ttf');
}

/* Styling starts here */

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-bg-color);
  font-family: var(--light-font);
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: center;
  margin: var(--secondary-spacing);
}

logo {
  font-family: var(--bold-font);
  text-decoration: underline;
  text-decoration-color: #23A8FE;
  text-underline-offset: 0.35em;
  text-decoration-thickness: 0.1em;
}

/* Sidebar */
nav {
  position: absolute;
  background: var(--secondary-bg-color);
  padding: 0.5em 1em 0.5em 1em;
  right: 0;
  top: 1.5em;
  border-radius: 5px 0 0 5px;
}

ul {
  list-style-type: none;
}

.sidebar .close ul {
  display: none;
}

/* Einde sidebar */

/* Begin main */
.main-container {
  background: var(--secondary-bg-color);
  padding: var(--secondary-spacing);
  border-radius: 1em;
  margin: var(--secondary-spacing);
}

h1 {
  font-family: var(--bold-font);
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

p {
  font-size: 1em;
  font-family: var(--regular-font);
}

/* Button Styling */

.start-btn {
  background-color: #23AD6F;
  font-family: var(--semiBold-font);
  color: var(--text-color);
  padding: var(--primary-spacing);
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 1em 0 1em 0;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* IMG styling */

.earth-style {
  width: 12.5em;
  height: 12.5em;
  margin: 1em;
}

/* Desktop media query */ 
@media screen and (min-width: 748px) {

  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: var(--secondary-bg-color);
    padding: var(--primary-spacing);
    margin: 2em 6em 2em 6em;
    border-radius: var(--primary-spacing);

  }
  logo {
    margin: 1em 1em 1em 3em;
  }
  nav {
    display: none;
  }
  .main-container {
    margin: 0 6em 0 6em;
    padding: 5em;
  }
  h1 {
    font-size: 3em;
  }
  .earth-style {
    width: 21em;
    height: 21em;
  }
  .first {
    margin-left: 5em; 
  }
  .second{
    margin-left: 6em;
  }
  p{
    font-family: var(--light-font);
    font-size: 1.25em;
  }
}